RestAutomate/config/services.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="services">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:anyURI" name="baseURL"/>
        <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="request"/>
              <xs:element type="xs:string" name="requestType"/>
              <xs:element type="xs:string" name="response"/>
              <xs:element type="xs:string" name="reponseType"/>
              <xs:element type="xs:string" name="statusCode"/>
              <xs:element name="requestAttributes" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="request-entry" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="reqname" use="optional"/>
                            <xs:attribute type="xs:string" name="reqvalue" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reponseAttributes" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="response-entry" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="resname" use="optional"/>
                            <xs:attribute type="xs:string" name="resvalue" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>